{% load static %}
<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="{% static 'img/white_dlc.ico' %}">
    <title>Home - DLC</title>
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "WebSite",
            "name": "Dean's List Council | CBA | Kuwait University",
            "url": "https://www.dlccba.live"
        }
    </script>
    <link rel="stylesheet" href="{% static 'frontend/assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'frontend/assets/css/commet.css' %}">
    <link rel="stylesheet" href="{% static 'frontend/assets/css/Noto%20Sans%20Old%20South%20Arabian.css' %}">
    <link rel="stylesheet" href="{% static 'frontend/assets/css/Raleway.css' %}">
    <link rel="stylesheet" href="{% static 'frontend/assets/css/bss-overrides.css' %}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
    <nav class="navbar navbar-expand-md fixed-top py-3 navbar-shrink" id="mainNav" style="height: 103px;background: rgb(74, 46, 95);color: var(--bs-primary);box-shadow: 0px -3px 10px 10px var(--bs-navbar-active-color); position: relative; z-index: 1000;">
        <div class="container" style="width: 100%;"><img class="img-fluid" width="996" height="996" src="{% static 'frontend/assets/img/DLCLogo.png' %}" style="width: 72px;background: var(--bs-light);padding: 5px;margin-right: 10px;border-radius: 94px;"><a class="navbar-brand d-flex align-items-center" href="{% url 'home' %}"><span style="text-align: center;transform: scale(1);margin: 0;margin-left: 0;color: var(--bs-light);font-family: 'Noto Sans Old South Arabian', sans-serif;">Dean's List Council</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            
        </div>
        <div class="collapse navbar-collapse" id="navcol-1" style="width: 100%; background-color: #4A2E5F; text-align: center; z-index: 1000;">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item"><a class="nav-link active" href="{% url 'home' %}" style="color: rgb(255,255,255);"><i class="fas fa-home" style="margin-right: 8px;"></i>Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'members' %}" style="color: rgba(255,255,255,0.65);"><span style="color: rgba(255, 255, 255, 0.8);"><i class="fas fa-users" style="margin-right: 8px;"></i>Members</span></a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'deanslist' %}" style="color: rgba(255,255,255,0.65);"><i class="fas fa-star" style="margin-right: 8px;"></i><span style="white-space: nowrap;">Dean's List</span></a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'events' %}" style="color: rgba(255,255,255,0.65);"><i class="fas fa-calendar-alt" style="margin-right: 8px;"></i>Events</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'exchange_program' %}" style="color: rgba(255,255,255,0.65);"><i class="fas fa-plane-departure" style="margin-right: 8px;"></i>Exchange Program</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'parking_application' %}" style="color: rgba(255,255,255,0.65);"><i class="fas fa-parking" style="margin-right: 8px;"></i>Parking</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'resources' %}" style="color: rgba(255,255,255,0.65);"><i class="fas fa-book" style="margin-right: 8px;"></i>Resources</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}" style="color: rgba(255,255,255,0.65);"><i class="fas fa-envelope" style="margin-right: 8px;"></i>Contact</a></li>
            </ul><a  role="button" href="{% url 'login' %}" style=" color: rgb(255, 255, 255); margin-right: 10px; font-size: 16px;"><button style="margin-right: 10px; min-width: 200px;" id="buttonasf"><i class="fas fa-user-shield" style="margin-right: 8px;"></i>Members Portal</button></a>
            <a  role="button" href="{% url 'apply' %}" style="color: rgb(255, 255, 255); margin-right: 10px;"><button id="buttonasf" style="margin-right: 10px;"><i class="fas fa-file-alt" style="margin-right: 8px;"></i>Apply</button></a>
        </div>
    </nav>
    {% block content %}{% endblock %}

    <footer style="background: #ffffff; position: relative; z-index: 1;">
         <hr>
        <div class="container py-lg-5" style="display: flex; flex-direction: row; align-items: center; justify-content: center; text-align: center; flex-wrap: wrap;">
           
                                        <div style="display: flex; flex-direction: column; flex-wrap: wrap; justify-content: space-evenly; align-items: center; margin-top: 10px;">
            <div class="button-container" style=" margin-right: 20px; margin-left: auto; float: right;">
                <a href="https://www.ku.edu.kw/" target="_blank" class="brutalist-button ku button-1">
              <div class="ku-logo" style="background-color: rgba(0,0,0,0);">
                  <img class="ku-icon" id="logo" src="{% static "img/ku.png" %}" alt="KU" style="width: 100%; background-color: rgba(0,0,0,0);"/>
                </svg>
              </div>
              <div style="background-color: rgba(0,0,0,0);" class="button-text">
                <span style="background-color: rgba(0,0,0,0);">Powered By</span>
                <span style="background-color: rgba(0,0,0,0);">Kuwait Universty</span>
              </div>
          </a>
          </div>
            <div class="text-muted d-flex justify-content-between align-items-center pt-3">
                <p class="mb-0">Dean's List Council © 2025 Kuwait University</p>
                 

            </div>
            
        </div>
        <p class="mb-0" style="margin-top: 20px;">Disclaimer: This website was built using open-source programming languages and as a hobby and AI was not utilized. The source code can be found <a href="https://github.com/hadihaith/DLC" target="_blank">Here</a>.</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="{% static 'frontend/assets/js/startup-modern.js' %}"></script>
    <script src="{% static 'frontend/assets/js/PanZoomImage.js' %}"></script>
</body>

</html>